
#bod {
    font-size: 2vw !important;
}

/* .messageBody {
font-size: 28px;
color:orange;
}

.messageTitle {
    font-size: calc(25px + .5vw);
    color: #ffffff;
    text-decoration: underline;
    text-align: center;
} */